<div class="body">
  <div class="container">
    <div class="content">
      <form [formGroup]="form">
        <div class="user-details">
          <div class="input-box">
            <input
              type="password"
              formControlName="password"
              placeholder="Enter your password"
              required
            />
            <div class="underline"></div>
            <div
              class="error"
              *ngIf="f.password?.invalid && f.password?.touched"
            >
              <small *ngIf="f.password?.errors?.required"
                >Password is required</small
              >
              <small *ngIf="f.password?.errors?.minlength"
                >Password must be letaset 6 character</small
              >
            </div>
          </div>
          <div class="input-box">
            <input
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirm your password"
              required
            />
            <div class="underline"></div>
            <div
              *ngIf="f.confirmPassword?.touched && f.confirmPassword?.invalid"
              class="error"
            >
              <small *ngIf="f.confirmPassword?.errors?.MustMatch"
                >Confirm password doesn't match</small
              >
            </div>
          </div>
        </div>
        <div class="button">
          <input
            (click)="updatePassword()"
            [disabled]="!form.valid"
            type="submit"
            value="Update Password Now"
          />
        </div>
      </form>
    </div>
  </div>
</div>
