.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow-y: auto;
    }
    .mt-50 {
      margin-top: 50px
  }

  .mb-50 {
      margin-bottom: 50px
  }

  .bg-teal-400 {
      background-color: #26a69a
  }

  a {
      text-decoration: none !important
  }

  .fa {
      color: red
  }

  .img {
      width:60px;
      height:80px;
      border-radius: 20%;
  }

  .background{
      position: absolute;
      z-index: 1;
      background:rgba(55, 56, 55, 0.5);
      border-top-right-radius: 20px; 
  }
  .card{
      border-radius: 10px; 
  }

  .button-all{
    height: 50px;
    color: white;
    font: 1em sans-serif;
    font-size: 120%;
    background: #ff6f61;
    border-radius: 10px;
    width: auto;
    border:none;
  }

  .button-all:hover{  
    color: #ff6f61;
    background: black;
  }