<nav class="navbar navbar-expand-xl">
  <div class="container h-100">
    <a class="navbar-brand" href="index.html">
      <h1 class="tm-site-title mb-0">Product Admin</h1>
    </a>
    <button
      class="navbar-toggler ml-auto mr-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars tm-nav-icon"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto h-100">
        <li class="nav-item">
          <a
            routerLink="/dashboard"
            routerLinkActive="active"
            class="nav-link"
            href="javaScript:void(0)"
          >
            <i class="fas fa-tachometer-alt"></i>
            Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="far fa-file-alt"></i>
            <span> Reports <i class="fas fa-angle-down"></i> </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item"
              href="javaScript:void(0)"
              (click)="reportExcelProvince()"
              >Provinces Report</a
            >
            <a
              class="dropdown-item"
              href="javaScript:void(0)"
              (click)="reportExcelDistrict()"
              >Districts Report</a
            >
            <a
              class="dropdown-item"
              href="javaScript:void(0)"
              (click)="reportExcelWard()"
              >Wards Report</a
            >
            <a
              class="dropdown-item"
              href="javaScript:void(0)"
              (click)="reportExcelOrder()"
              >Orders Report</a
            >
            <a class="dropdown-item" href="javaScript:void(0)"
              >Storage Report</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a
            routerLink="/product"
            routerLinkActive="active"
            class="nav-link"
            href="javaScript:void(0)"
          >
            <i class="fas fa-shopping-cart"></i>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/accounts"
            routerLinkActive="active"
            class="nav-link"
            href="javaScript:void(0)"
          >
            <i class="fa fa-users"></i>
            Accounts
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/account"
            routerLinkActive="active"
            class="nav-link"
            href="javaScript:void(0)"
          >
            <i class="far fa-user"></i>
            Account
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-cog"></i>
            <span> Settings <i class="fas fa-angle-down"></i> </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item"
              routerLink="/account"
              routerLinkActive="active"
              >Profile</a
            >
            <a
              class="dropdown-item"
              routerLink="/provinces"
              routerLinkActive="active"
              >Provinces</a
            >
            <a
              class="dropdown-item"
              routerLink="/districts"
              routerLinkActive="active"
              >Districts</a
            >
            <a
              class="dropdown-item"
              routerLink="/wards"
              routerLinkActive="active"
              >Wards</a
            >
            <a
              class="dropdown-item"
              routerLink="/change-default-image"
              routerLinkActive="active"
              >Change default image</a
            >
          </div>
        </li>
      </ul>
      <ul *ngIf="checkLogout" class="navbar-nav">
        <li class="nav-item">
          <a
            routerLink="/login"
            routerLinkActive="active"
            class="nav-link d-block"
            (click)="logout()"
            href="javaScript:void(0)"
          >
            Admin, <b>Logout</b>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
