<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-12 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-xl-9 col-lg-6 col-md-12">
            <h2 class="tm-block-title d-inline-block">Update Image Details</h2>
          </div>
          <div class="col-xl-3 col-md-12">
            <h2 (click)="file2.click()" class="tm-block-title d-inline-block b">
              <i class="fas fa-plus"></i>
              Add New Image Details
            </h2>
          </div>
          <div class="col-xl-3 col-md-12">
            <h2
              (click)="addAllItem()"
              class="tm-block-title d-inline-block add-all"
            >
              <i class="fas fa-plus"></i>
              Add All Image Details
            </h2>
          </div>
          <div class="col-xl-3 col-md-12">
            <h2
              (click)="updateAllItem()"
              class="tm-block-title d-inline-block add-all"
            >
              <i class="fas fa-plus"></i>
              Update All Image Details
            </h2>
          </div>
          <div class="col-xl-3 col-md-12">
            <h2
              (click)="deleteAllItem()"
              class="tm-block-title d-inline-block delete-all"
            >
              <i class="fas fa-minus"></i>
              Delete All Image Details
            </h2>
          </div>
        </div>
        <div
          *ngIf="productDetailUrlImg.length != 0"
          class="row tm-edit-product-row"
        >
          <div
            *ngFor="let item of productDetailUrlImg; let indexOfelement = index"
            class="col-xl-3 col-lg-6 col-md-12"
          >
            <!-- 1 -->
            <div class="tm-avatar-container mx-auto">
              <img
                [src]="item.srcImg"
                alt="Product image"
                class="img-fluid d-block mx-auto"
              />
              <a class="tm-avatar-delete-link" (click)="file.click()">
                <i class="fas fa-image tm-product-delete-icon"></i>
              </a>
              <a class="tm-delete-link" (click)="deleteNow(item)">
                <i class="fas fa-trash-alt tm-delete-icon"></i>
              </a>
            </div>
            <div class="custom-file mt-3 mb-3">
              <input
                accept="image/*"
                #file
                (change)="onChangeOneFile(file.files, item, indexOfelement)"
                type="file"
                style="display: none"
              />
              <button
                type="submit"
                (click)="updateOneItem(item)"
                class="btn btn-block text-uppercase"
                [ngClass]="{
                  'btn-primary': item.checkUpload,
                  'btn-info': !item.checkUpload
                }"
                [disabled]="item.checkOnChange"
              >
                {{ item.checkUpload ? "Update" : "Upload" }} Now
              </button>
            </div>
          </div>
        </div>
        <input
          accept="image/*"
          (change)="onChangeMultipleFile(file2.files)"
          #file2
          multiple
          type="file"
          style="display: none"
        />
      </div>
    </div>
  </div>
</div>
