img {
  display: block;
  padding-top: 40px;
}
.b {
  color: rgb(15, 250, 238);
}
.b:hover {
  color: yellow;
}
.add-all {
  color: yellow;
}
.add-all:hover {
  color: rgb(15, 250, 238);
}
.delete-all {
  color: rgb(255, 60, 0);
}
.delete-all:hover {
  color: rgb(179, 250, 15);
}
.tm-block-title {
  cursor: pointer;
}

.tm-delete-icon {
  font-size: 1.1rem;
  color: #dd2e0f;
}

.tm-delete-link {
  position: absolute;
  right: 4%;
  top: 2%;
  z-index: 1000;
  padding: 14px;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  display: block;
  background: rgb(150, 149, 149);
  transition: all 0.2s ease;
}

.tm-delete-link:hover {
  background: rgb(70, 69, 69);
  color: rgb(226, 124, 124);
}
