
.dot {
    height: 25px;
    width: 25px;
    background-color: #394e64;
    border-radius: 50%;
    display: inline-block;
  }

.dot:active{
    background-color: black;
}

.active{
    background-color: black;
}
.tm-product-name{
    color: rgb(240, 194, 96);
}
.tm-product-name:hover{
    color: #000;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.search{
    font-size: 140%;
   
}