<div class="product-title">
  <div
    class="name"
    (click)="clickProductDetail(item.id)"
    routerLinkActive="active"
  >
    {{ item.name }}
  </div>

  <p class="sold">(Sold:{{ item.unitSold }})</p>
  <div class="ratting">
    <i
      class="fa fa-star"
      *ngFor="let item of [].constructor(item.totalReview5Star)"
    ></i>

    <a class="sold">({{ item.totalReview }})</a>
  </div>
</div>
<div class="product-image">
  <a (click)="clickProductDetail(item.id)">
    <img
      class="img-fluid d-block mx-auto"
      src="{{ baseUrl + '/' + item.id + '/' + item.urlImg }}"
      alt="Product Image"
    />
  </a>
  <div class="product-action">
    <a (click)="clickCartPlus(item)"><i class="fa fa-cart-plus"></i></a>
    <a (click)="clickWishListPlus(item)"><i class="fa fa-heart"></i></a>
    <a (click)="clickProductDetail(item.id)"><i class="fa fa-search"></i></a>
  </div>
</div>
<div class="product-price">
  <h3>{{ item.price }} <span>$</span></h3>
  <a class="btn" (click)="buyNow(item)"
    ><i class="fa fa-shopping-cart"></i>Buy Now</a
  >
</div>
