<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Edit Product</h2>
          </div>
        </div>
        <div class="row tm-edit-product-row">
          <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="form-group mb-3">
              <label for="name">Product Name</label>
              <input
                id="name"
                name="name"
                type="text"
                [(ngModel)]="productPayload.name"
                class="form-control validate"
              />
            </div>
            <div class="form-group mb-3">
              <label for="name">Price (USD)</label>
              <input
                id="name"
                name="name"
                type="number"
                placeholder="Price"
                [(ngModel)]="productPayload.price"
                class="form-control validate"
              />
            </div>
            <div class="form-group mb-3">
              <label for="description">Description</label>
              <textarea
                class="form-control validate tm-small"
                rows="5"
                [(ngModel)]="productPayload.description"
                required
                >{{ productPayload.description }}</textarea
              >
            </div>
            <div class="form-group mb-3">
              <label for="category">Category</label>
              <select
                class="custom-select tm-select-accounts"
                [(ngModel)]="productPayload.category_id"
              >
                <option [value]="item.id" *ngFor="let item of categories">
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div class="row">
              <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label>Expire Date</label>
                <input
                  type="text"
                  class="form-control validate"
                  data-large-mode="true"
                  appDatepicker
                  #datepicker="datepicker"
                  [(ngModel)]="productPayload.exDate"
                  (dateEventEmitter)="dateEventEmitter($event)"
                  placeholder="mm/dd/yyyy"
                />
              </div>
              <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label for="stock">Units In Stock</label>
                <input
                  id="stock"
                  name="stock"
                  type="number"
                  [(ngModel)]="productPayload.inStock"
                  class="form-control validate"
                />
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
            <div class="tm-avatar-container mx-auto">
              <button
                [routerLink]="['/product/edit/detail-img']"
                [queryParams]="{
                  category: productPayload.category_id,
                  product: productPayload.id
                }"
                class="btn details btn-block mx-auto"
              >
                <b>CHANGE PICTURE DETAILS NOW </b>
              </button>
              <img
                [src]="imageToShow"
                alt="Product image"
                class="img-fluid d-block mx-auto"
              />
              <a
                class="tm-avatar-delete-link"
                onclick="document.getElementById('fileInput').click();"
              >
                <i class="fas fa-image tm-product-delete-icon"></i>
              </a>
            </div>
            <div class="custom-file mt-3 mb-3">
              <input
                id="fileInput"
                accept="image/*"
                #file
                (change)="onFileChanged(file.files)"
                type="file"
                style="display: none"
              />
              <input
                type="button"
                class="btn btn-primary btn-block mx-auto"
                value="CHANGE IMAGE NOW"
                onclick="document.getElementById('fileInput').click();"
              />
            </div>
          </div>
          <div class="col-12">
            <button
              (click)="update()"
              class="btn btn-primary btn-block text-uppercase"
            >
              Update Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
