<div class="sidebar-widget widget-slider">
    <ngx-slick-carousel class="normal-slider"
                           
    [config]="slideConfig">
        <div ngxSlickItem *ngFor="let product of products" class="product-item">
            <div class="product-title">
                <a
                  (click)="clickProductDetail(product.id)"

                  routerLinkActive="active"
                  >{{ product.name }}</a>
                  <p class="sold">(Sold:{{product.unitSold}})</p>
                <div class="ratting">
                    <i class="fa fa-star" *ngFor="let item of [].constructor(product.totalReview5Star)"></i>
                  <a>({{product.totalReview5Star}})</a>
                  
                </div>
              </div>
            <div class="product-image">
                <a (click)="clickProductDetail(product.id)">
                    <img class="img-slider" src="{{baseUrl+product.urlImg}}" alt="Product Image">
                </a>
                <div class="product-action">
                    <a (click)="clickAddCart(product)"><i class="fa fa-cart-plus"></i></a>
                    <a (click)="clickAddWishlist(product)"><i class="fa fa-heart"></i></a>
                    <a (click)="clickProductDetail(product.id)"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="product-price">
                <h3><span>$</span>{{product.price}}</h3>
                <a class="btn" (click)="buyNow(product)"><i class="fa fa-shopping-cart"></i>Buy Now</a>
            </div>
        </div>
       
    </ngx-slick-carousel>
    
</div>