<div class="sidebar-widget widget-slider">
  <ngx-slick-carousel class="normal-slider" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let product of products" class="product-item">
      <div class="product-title">
        <div
          class="name"
          (click)="clickProductDetail(product.id)"
          routerLinkActive="active"
        >
          {{ product.name }}
        </div>

        <p class="sold">(Sold:{{ product.unitSold }})</p>
        <div class="ratting">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>

          <a>({{ product.totalReview5Star }})</a>
        </div>
      </div>
      <div class="product-image">
        <a (click)="clickProductDetail(product.id)">
          <img
            class="img-fluid d-block mx-auto"
            src="{{ baseUrl + product.fileId }}"
            alt="Product Image"
          />
        </a>
        <div class="product-action">
          <a (click)="clickAddCart(product)"><i class="fa fa-cart-plus"></i></a>
          <a (click)="clickAddWishlist(product)"><i class="fa fa-heart"></i></a>
          <a (click)="clickProductDetail(product.id)"
            ><i class="fa fa-search"></i
          ></a>
        </div>
      </div>
      <div class="product-price">
        <h3>{{ product.price }} <span>$</span></h3>
        <a class="btn" (click)="buyNow(product)"
          ><i class="fa fa-shopping-cart"></i>Buy Now</a
        >
      </div>
    </div>
  </ngx-slick-carousel>
</div>
