<div class="featured-product product">
  <div class="container-fluid">
    <div class="section-header">
      <h1>Featured Product</h1>
    </div>
    <ngx-slick-carousel class="row align-items-center" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let product of products" class="col-lg-3">
        <div class="product-item">
          <div class="product-title">
            <a (click)="clickDetail(product.id)" routerLinkActive="active">{{
              product.name
            }}</a>
            <p class="sold">(Sold:{{ product.unitSold }})</p>
            <div class="ratting">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <a>({{ product.totalReview5Star }})</a>
            </div>
          </div>
          <div class="product-image">
            <a (click)="clickDetail(product.id)">
              <img
                class="img-slider"
                src="{{ baseUrl + product.fileId }}"
                alt="Product Image"
              />
            </a>
            <div class="product-action">
              <a (click)="clickAddCart(product)"
                ><i class="fa fa-cart-plus"></i
              ></a>
              <a (click)="clickAddWishlist(product)"
                ><i class="fa fa-heart"></i
              ></a>
              <a (click)="clickDetail(product.id)"
                ><i class="fa fa-search"></i
              ></a>
            </div>
          </div>
          <div class="product-price">
            <h3><span>$</span>{{ product.price }}</h3>
            <a class="btn" (click)="buyNow(product)"
              ><i class="fa fa-shopping-cart"></i>Buy Now</a
            >
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
